<!DOCTYPE html>
<body>

    <p>혼주 식권 QR</p><br><br>

        <script
        src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>
      
    <script src="/scripts/qrcode.js"></script>


    <div id="qrcode"></div>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrcode"), '<%=no%>'); //result값을 넣고 생성
    </script>
    </body>
</html>
