<% include ./hf/header.ejs %>
<h1>식권확인</h1>
<img src="images/icons/mealticket.jpg" data-src="images/icons/mealticket.jpg" class="preload-image shadow-medium" alt="imag" style="margin-left: 50px; margin-top: 50px; width: 300px; height: 400px;">
<div class="qr" id="qrcode" style="margin-left: 80px; align-content: center;"></div>
<script src="/scripts/qrcode.js"></script>
<script type="text/javascript">
    new QRCode(document.getElementById("qrcode"),'10');
</script>
<% include ./hf/footer.ejs %>