<!DOCTYPE html>
    <body>
        <div id="accessToken"><%=data.access_token%></div>
        <div id="refreshToken"><%=data.refresh_token%></div>
        <div id="usenum"><%=data.user_seq_no%></div>
        <div class="clear"></div>
        <button id="authBtn" href="#" class="button button-full button-m shadow-large button-round-small bg-green1-dark top-10 bottom-0">완료</button>
    </body>
    <script>
        opener.document.getElementById("tokeninput").value = 
        document.getElementById("accessToken").textContent;
        opener.document.getElementById("refreshToken").value = 
        document.getElementById("refreshToken").textContent;
        opener.document.getElementById("seqnuminput").value = 
        document.getElementById("usenum").textContent;

        $("#authBtn").click(function(){
            $.ajax({
            url : "http://localhost:3000/resultChild",
            type : 'post',
            data : {
                tokeninput : $("#accessToken").val(),
            },
            success: function(data){
                alert(data);
                console.log(data);
            }
            })
        })
    </script>
</html> 